# Python Byte-compiled
*.pyc

# Log files
output/_logs
output/_true_logs
output/_lie_logs
output/_test_logs
output/_logs_eml
parameterizer/_logs

# Solvers
lingeling
minisat
cryptominisat
rokk
painless
cadical

# Samples cnf
cnf

# Local scripts
local_tools
obsolete
analyze/main.py
load.sh

# Dump files
analyze/memory

# Local configurations
configuration/test

# Other
minisat.zip
