# Python Byte-compiled
*.pyc

# Log files
*.a5_1_log
*.bivium_log
*.trivium_64_log
*.trivium_96_log
*.e0_log
*.a5_1_true_log
*.bivium_true_log
*.trivium_64_true_log
*.e0_true_log
out/**/README

# Solvers
lingeling
minisat
cryptominisat
rokk
painless

# Samples cnf
cnf

# Local scripts
local_tools
obsolete
analyze/main.py
load.sh
start_after_30.05.sh

# Dump files
analyze/memory

# Other
test.json
minisat.zip
